body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: lightcyan;
  margin: 16px auto;
  padding: 30px;
}

.title {

  font-size: 30px;
  padding: 20px;
  margin: 20px;
  background: lightblue;
}

.content {
  padding: 20px;
  margin: 20px;
  background: lightblue;
}

.button-container {
  padding: 20px;
  text-align: center;
  background: lightblue;
}

button {
  background: white;
  border: 1px solid #eee;
  padding: 15px;
}